@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #d4d4d8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}